# Prerequisites
*.d
*.uvgui.*
JLinkSettings.ini

# Object files
iap/output/
*.o
*.ko
*.obj
*.elf
*.crf
*.dep
*.htm
*.lnp

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
#*.dll
*.so
*.so.*
*.dylib

# Executables
#*.exe
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode/ipch/

# Keil Project
iap/project/

# Source insight 
iap/si/
wall-e/Sourceinsight

# Jlink
wall-e/Project/JLink.exe
wall-e/Project/JLinkRTTClient.exe
wall-e/Project/JLinkCommandFile.jlink
wall-e/Project/jlink.py
wall-e/Project/jlink.bat

# Log
#wall-e/Log/Log.md

